<h1>Meet Our Team</h1>
<p>Over the past few months we've been working to present you with Rentalz</p>

<div class="jumbotron">
<h2>Timur Meyster </h2> 
<p>Ruby Specialist</p> 

<h3>Artur Meyster </h3>
<p>CSS newbie </p>
</div>

